In [7]:
for i in range (20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [13]:
for i in range (10,20):
    print(i, end=" ")

10 11 12 13 14 15 16 17 18 19

In [38]:
lists=[10,20,14,55,43,87,76]
print(lists)
print("Number of item in the List2:")
print(len(lists))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
7

In [76]:
i="Artificial Intelligence"
print(i)
for letter in i:
    print(letter)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [124]:
details = ["-Your name-","-Your age-","-Your profession-"]
for detail in details:
    print(detail)

-Your name-
-Your age-
-Your profession-

In [78]:
tuple1=(1,'Welcome')
tuple2=(2,'Hope')
print(tuple1+tuple2)

(1, 'Welcome', 2, 'Hope')

In [80]:
tuple1=(0,1,2,3)
tuple2=('python','Hope')

tuple3=tuple1,tuple2
print(tuple3)

((0, 1, 2, 3), ('python', 'Hope'))

In [116]:
numbers=[20,10,16,19,25,1,276,186]
for number in numbers:
    if(number%2==1):
        print(number, "is odd")

19 is odd
25 is odd
1 is odd

In [118]:
number=[20,10,16,19,25,1,276,186]
for number in numbers:
    if(number%2==0):
        print(number,"is even")

20 is even
10 is even
16 is even
276 is even
186 is even